<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="ConsoleApplication1.CommonConfigSection`1[[ConsoleApplication1.TestConfigElement, ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="testSection2" type="ConsoleApplication1.CommonConfigSection`1[[ConsoleApplication1.TestConfigElement2, ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="testSection3" type="ConsoleApplication1.CommonConfigSection`1[[ConsoleApplication1.TestConfigElement3, ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <testSection>
    <add name="qqqqqqq" filename="wwwwwwwwwww" />
    <add name="qqqqqqq2" filename="wwwwwwwwwww2" />
  </testSection>
  <testSection2>
    <add id="colorOne" color="red" />
    <add id="colorTwo" color="green" />
  </testSection2>
  <testSection3>
    <add id="colorOne">
      <subitems>
        <add id="colorOneOne" color="red" />
        <add id="colorTwoTwo" color="blue" />
      </subitems>
    </add>
    <add id="colorTwo" />
    <add id="colorOne!!!!">
      <subitems>
        <add id="scarletColor" color="scarlet" />
      </subitems>
    </add>
  </testSection3>
</configuration>